<app-titulo [titulo]="'Eventos'" [iconClass]="'fa fa-calendar-alt'" [botaoListar]="true">
</app-titulo>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    >
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
          <i class="{{!exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!exibirImagem ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length; else mensagem">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!exibirImagem"
             [isAnimated]="true"
          src="../../assets/{{evento.imageURL}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        >
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe
        }}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes}}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
            <i class="fa fa-edit mr-1"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash mr-1"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <ng-template #mensagem>
    <tfoot>
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </ng-template>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja confirmar exclusão?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>



