<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <!-- <p>Form value: {{form.value | json}}</p>
    <p>Form valid: {{form.status | json}}</p> -->
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.tema.errors && f.tema.touched }"
            formControlName="tema"
            placeholder="Insira o Tema"
          />
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigatório
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            A quantidade mínima de caratcters é 3
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            A quantidade máxima de caratcters é 50
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.local.errors && f.tema.touched }"
            formControlName="local"
            placeholder=""
          />
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input
            type="datetime"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.dataEvento.errors && f.dataEvento.touched }"
            formControlName="dataEvento"
            placeholder=""
          />
          <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
            Data e hora são obrigatórios
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input
            type="number"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched }"
            formControlName="qtdPessoas"
            placeholder=""
          />
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
            Qtd pessoas é obrigatório
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
            Maximo de pessoas é 500
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.telefone.errors && f.telefone.touched }"
            formControlName="telefone"
            placeholder="(000) 90000-0000"
          />
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
            formControlName="email"
            placeholder="e-mail"
          />
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            Email é obrigatório
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            Formato inválido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.imageURL.errors && f.imageURL.touched }"
            formControlName="imageURL"
            placeholder="imagem"
          />
          <div *ngIf="f.imageURL.errors?.required" class="invalid-feedback">
            Imagem é obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
